


body{
    font-family: "Helvetica";
    color: lightslategray;
}

h3 {
    font-size: 8pt;
    letter-spacing: 3px;
}
 h3:hover{
     color: orange;
 }

.crossout{
    text-decoration: line-through;
}

#listitem2check{
    text-decoration: line-through;
}
::placeholder {
    font-style: italic;
}

#callmom{
    text-decoration: line-through;
}