
input[type=checkbox]{
    transform: scale(3);
}

input{
    font-family: "Avenir";
    font-size: 18pt;
    display: flex;
}

.deleteAllButton{
    font-size: 3px;
    color: red;
    text-decoration: #cc7832;
}
.selected1 {
    border: 2px solid #000;
    background-color: #660F56;

}
.unselected1 {

}

h3 {
    font-size: 12pt;
    letter-spacing: 3px;
}
h3:hover{
    color: orange;
}

.container > * {
    display: inline-block;
}

.deleteTask{
    color: mediumseagreen;
    text-align: center;
}

.addTask{
    color: #119DA4;
    text-align: center;
}

.container2 > * {
    display: inline-block;
}


.container2{
    justify-content: space-between;
    margin: 0 -10px;
}

input{
    margin:0 10px;
}
