.myList{
    position: absolute;
    left: 0.5cm;
}

body {
    font-family: "Avenir";
    color: White;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-start: center;
    padding-left: 24px;
    font-size: 24pt;
    background-color: #83A1CD;
    align-content: flex-start;
}


.inputbar {
    display: flex;
    align-content: flex-start;
    margin-bottom: 0.5cm;
    margin: 0 -5px;
}

#myInput {
    width: 225px;
}

button{
    font-family: "Avenir";
    border-style: solid;
    border: 2px solid #4B73CA;
    font-size: 10pt;
    display: flex;
    margin: 3px;
    padding: 8px 8px;
    overflow: hidden;
    background: transparent;
    color: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    length: auto;
    /*margin-bottom: 0.5cm;*/


}

#deleteAll{
    background-color:palevioletred;
}

#delete{
    background-color:lightgreen;
}

.deleteButtons{
    display: flex;
    align-content: flex-start;
}