.myList{
    position: absolute;
    left: 0.5cm;
}

body {
    font-family: "Avenir";
    color: White;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-start: center;
    padding-left: 24px;
    font-size: 24pt;
    background-color: #83A1CD;
    align-content: flex-start;
}


.inputbar {
    display: flex;
    align-content: flex-start;
    margin-bottom: 0.5cm;
    margin: 0 -5px;
}

#myInput {
    width: 150px;
}

button{
    font-family: "Avenir";
    border-style: solid;
    border: 2px solid #4B73CA;
    font-size: 10pt;
    display: flex;
    margin: 3px;
    padding: 8px 8px;
    overflow: hidden;
    background: transparent;
    color: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    length: auto;
    /*margin-bottom: 0.5cm;*/


}

#deleteAll{
    background-color:palevioletred;
}

#delete{
    background-color:lightgreen;
}

.deleteButtons{
    display: flex;
    align-content: flex-start;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}