.myList{
    position: absolute;
    left: 0.5cm;
}
h2{
    font-size: 24pt;
}
body {
    font-family: "Avenir";
    color: White;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-start: center;
    padding-left: 24px;
    font-size: 10pt;
    background-color: #83A1CD;
    align-content: flex-start;
}

.taskList{
    margin-top: 10px;
}

.inputbar {
    display: flex;
    align-content: flex-start;
    margin-bottom: 0.5cm;
    margin: 0 -5px;
}




#add{
    background-color: orange;
}
#myInput {
    width: 150px;
}



button{
    font-family: "Avenir";
    border-style: solid;
    border: 2px solid #4B73CA;
    font-size: 10pt;
    display: flex;
    margin: 3px;
    padding: 8px 8px;
    overflow: hidden;
    background: transparent;
    color: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    length: auto;
    /*margin-bottom: 0.5cm;*/


}

#priorityText{
    padding-left: 2px;
    font-size:10pt;
    /*aligning the priority*/
}

#deleteAll{
    background-color:darkred;
}

#delete{
    background-color:darkgreen;
}

.deleteButtons{
    display: flex;
    align-content: flex-start;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    /*added stuff above*/
    /*display: contents;*/
    /*position: absolute;*/
    color: black;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*!* Links inside the dropdown *!*/
/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/
.hideButton{
    display: none;
}

.show {
    display: block;
}
/* Change color of dropdown elements on hover */
.dropdown-content option:hover {background-color: lightblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}